<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LoginNew</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginFormServlet</display-name>
    <servlet-name>LoginFormServlet</servlet-name>
    <servlet-class>login.servlets.LoginFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFormServlet</servlet-name>
    <url-pattern>/LoginFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginValidateServlet</display-name>
    <servlet-name>LoginValidateServlet</servlet-name>
    <servlet-class>login.servlets.LoginValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginValidateServlet</servlet-name>
    <url-pattern>/LoginValidateServlet</url-pattern>
  </servlet-mapping>
</web-app>